*~
*.7z
bin/
_build
build/
*.class
*.com
config.ini
dev/
dist/
*.dll
*.dmg
.DS_Store?
*egg*
ehthumbs.db
*.exe
*.gz
htmlcov/
.hypothesis/
Icon?
.idea/
*.iso
*.jar
*.log
logs/
.mypy_cache/
*.o
pip-wheel-metadata/
.pre-commit-config.yaml
*.pyc
__pycache__/
.pylintrc
pyproject.toml
.pytest_cache/
*.rar
reports/
*.so
*.spec
*.sql
*.sqlite
.tags/
*.tar
_templates/
Thumbs.db
*.un~
.venv/
venv/
.vscode/
*.zip
